{% extends 'base.html' %}
{% block title %}Panel de Administración de Carritos{% endblock %}
{% block content %}
<h1>Administrar Carritos</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Productos</th>
        <th>Total</th>
    </tr>
    {% for carrito in carritos %}
    <tr>
        <td>{{ carrito.id }}</td>
        <td>{{ carrito.usuario }}</td>
        <td>{{ carrito.productos }}</td>
        <td>{{ carrito.total }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
